@model  vvarscNET.Web.Client.Models.MemberEditModel

@{
    ViewBag.Title = "Create Member";
}

@Html.ActionLink("⇠Back to Member List", "OrganizationMembers", "Admin", new { id = Model.OrganizationID }, null)
<br />
<br />
<h2>Add New Member</h2>

<article>
    <p>
        Enter New Member Details
    </p>

    @using (Html.BeginForm("CreateMember", "Admin", new { organizationID = Model.OrganizationID }, FormMethod.Post, null))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Member</legend>

            <div class="formFieldGroup">
                <div class="label">
                    @Html.LabelFor(model => model.UserName)
                </div>
                <div class="label">
                    @Html.EditorFor(model => model.UserName)
                    @Html.ValidationMessageFor(model => model.UserName)
                </div>
            </div>

            <div class="formFieldGroup">
                <div class="label">
                    @Html.LabelFor(model => model.RSIHandle)
                </div>
                <div class="label">
                    @Html.EditorFor(model => model.RSIHandle)
                    @Html.ValidationMessageFor(model => model.RSIHandle)
                </div>
            </div>

            <div class="formFieldGroup">
                <div class="label">
                    @Html.LabelFor(model => model.RankID)
                </div>
                <div class="label">
                    @Html.DropDownListFor(model => model.RankID, Model.Ranks)
                    @Html.ValidationMessageFor(model => Model.RankID)
                </div>
            </div>

            <div class="formFieldGroup">
                <div class="label">
                    @Html.LabelFor(model => model.UserType)
                </div>
                <div class="label">
                    @Html.DropDownListFor(model => model.UserType, Model.UserTypes)
                    @Html.ValidationMessageFor(model => Model.UserType)
                </div>
            </div>

            <br />
            <div class="adminDialogButtonPane">
                <input type="submit" value="Create" class="adminDialogButton dialogButtonSubmit" />
                @Html.ActionLink("Cancel", "OrgMembers", "Admin", new { id = Model.OrganizationID }, new { @class = "adminDialogButton dialogButtonCancel" })
            </div>
        </fieldset>
    }
</article>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
