@model IEnumerable<vvarscNET.Model.Objects.Organizations.OrgRole>

@{
    ViewBag.Title = "Organization Roles";
}

@Html.ActionLink("⇠Back to Admin Home", "Index", "Admin", new { organizationID = Session["OrganizationID"] }, new { @style = "text-decoration:none;" })
<br />
<br />
<h2>Role Management</h2>

<div>
    <button id="adminCreateRole" class="adminButton adminButtonCreate" title="Add New Member" style="
		margin-left: 0px;
		margin-bottom: 4px;
		width: 100%;
		text-align: right;"
            onclick="location.href='@Url.Action("CreateRole","Admin",new { organizationID = Session["OrganizationID"] })'">
        <img height="20px" class="adminButtonImage" src="http://sc.vvarmachine.com/images/misc/button_add.png" />
        Add New Role
    </button>
    <div id="AdminRoleList" class="description_container">
        <div class="top-line">
        </div>
        <div class="corner4 corner-diag-blue-topLeft">
        </div>
        <div class="corner4 corner-diag-blue-topRight">
        </div>
        <div class="corner4 corner-diag-blue-bottomLeft">
        </div>
        <div class="corner4 corner-diag-blue-bottomRight">
        </div>
        <div class="description_inner" style="
            padding-right: 16px;
            padding-top: 8px;
            padding-bottom: 4px;
        ">
            @{
                var sortedList = Model.OrderBy(a => a.RoleOrderBy);
                foreach (var role in sortedList)
                {
                    <div class="table_header_block">
                    </div>
                    <div class="description_entry" style="
                        margin-bottom:4px;
                        display: block;
                        width: auto;
                    ">
                        <div style="
                            float: right;
                            text-align: right;
                        ">
                            <button class="adminButton adminButtonEdit" title="Edit Role" style="margin-right: 0px;"
                                    onclick="location.href='@Url.Action("EditOrgRole","Admin",new { roleID = @role.ID })'">
                                <img style="height:20px;" class="adminButtonImage" src="http://sc.vvarmachine.com/images/misc/button_edit.png">
                            </button>
                        </div>
                        <div style="display:table;">
                            <div class="image_wrapper" style="height:24px;">
                                <div class="rankImage_text">
                                    @Html.ActionLink("[" + @role.RoleOrderBy + "] " + @role.RoleName, "EditOrgRole", "Admin", new { roleID = @role.ID }, null)
                                </div>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
    </div>
</div>