@model IEnumerable<vvarscNET.Model.Objects.Organization>

@{
    ViewBag.Title = "Organizations";
}

<h2>Organizations</h2>

<article>
    <p>
        Manage Organizations
    </p>

    <!--
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "actionlinkbutton" })
    </p>
    -->

    <div>
        <table>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ID)
                </th>
                <th>
                    Name
                </th>
                <th>
                    SpectrumID
                </th>
                <th>
                    WebsiteURL
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedOn)
                </th>
                <th>
                    Actions
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationSpectrumID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrganizationWebsiteURL)
                    </td>
                    <td>
                        @string.Format(item.IsActive ? "Yes" : "No")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                    <!--
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    -->
                    </td>
                </tr>
            }

        </table>
    </div>
</article>