@using System.Collections.Generic
@using System.Net.Http.Headers
@using DalSoft.WebApi.HelpPage.Models

@model HelpPageApiModel

@{
    var description = Model.ApiDescription;
    var hasParameters = description.ParameterDescriptions.Count > 0;
    var hasRequestSamples = Model.SampleRequests.Count > 0;
    var hasResponseSamples = Model.SampleResponses.Count > 0;
}
<div class="apiDetailsMainContent">
    <h1>@description.HttpMethod.Method @description.RelativePath</h1>
    @if (description.Documentation != null)
    {
        <p>@description.Documentation</p>
    }
    else
    {
        <p>No documentation available.</p>
    }

    @if (hasParameters || hasRequestSamples)
    {
        <div class="sample-height">
            <h2>Request Information</h2>
            @if (hasParameters)
                {
                <h3>Parameters</h3>
                @Include("Parameters.cshtml", Model, typeof(HelpPageApiModel))
            }
            @if (hasRequestSamples)
                {

                <h3>Request body formats</h3>
                @Include("Samples.cshtml", new Tuple<string, IDictionary<MediaTypeHeaderValue, object>>("Request", Model.SampleRequests), typeof(IDictionary<MediaTypeHeaderValue, object>))

            }
        </div>
    }

    @if (hasResponseSamples)
    {
        <div class="sample-height">
            <h2>Response Information</h2>
            <h3>Response body formats</h3>
            @Include("Samples.cshtml", new Tuple<string, IDictionary<MediaTypeHeaderValue, object>>("Response", Model.SampleResponses), typeof(IDictionary<MediaTypeHeaderValue, object>))
        </div>
    }
</div>